@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 text-capitalize mainTitle">Welcome to PizzaRia</h1>
    <p>Better then others and more then others.</p>
    <br />
    <a class="btn btn-primary mt-1" asp-area="" asp-page="/Pizza">Bring me a Pizza</a>
    <br/>
    <img width="500" height="600" class="img-fluid" src="~/images/contents/fontImage.png" />

</div>
