@page
@model Pizzaria.Pages.Checkout.CheckoutModel
@{
}
@* <p>This is Checkout Page.</p>
<a  class=" btn btn-primary mt-1" asp-area="" asp-page="/Checkout/ThankYou">Thank You</a> *@

@{
    var imagePath = "~/images/Cheese_pizza/" + (Model.PizzaName + ".jpg");
}

<h1 class="display-4 text-capitalize mainTitle">Welcome to PizzaRia</h1>
<p>Better then others and more then others.</p>

<h2>Your Pizza Is Ready</h2>
<div class="align-content-center">
    <div class="col-3 mx-auto mb-5">
        <img class="w-100" asp-append-version="true" src=@imagePath />
        <p>Your order for the @Model.PizzaName pizza is ready!</p>
        <p>Total Price for your order is: @Model.PizzaPrice $</p>
        
        <a class="btn alert-primary mt-1 mx-auto" asp-area="" asp-page="ThankYou">Confirm Order</a>

    </div>

</div>