html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.mainTitle{
.mainTitle{
    font-weight: 800;
    color: dimgray
}

.pizza-img :hover{
    transform : scale(1.5);
}